/data
/data/*

/.idea
/project/vendor
/project/.editorconfig
/project/.gitattributes
/project/web
/project/web/core
/project/web/themes/contrib
/project/web/themes/*.txt
/project/web/modules/contrib
/project/web/themes/*.txt
/project/web/sites/default/files

node_modules